version: '3'

services:
  web:
    build: .
    image: my_tennis_club
    command: bash -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    container_name: my_tennis_club
    restart: unless-stopped
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
      - DEBUG=0
      - ALLOWED_HOSTS=*